In [1]:
# Load library
import pandas as pd

In [3]:
# Create datetimes
time_index = pd.date_range("01/01/2010", periods=5, freq="ME")

In [4]:
# Create data frame, set index
dataframe = pd.DataFrame(index=time_index)

In [5]:
# Create feature
dataframe["Stock_Price"] = [1,2,3,4,5]

In [6]:
# Calculate rolling mean
dataframe.rolling(window=2).mean()

            Stock_Price
2010-01-31          NaN
2010-02-28          1.5
2010-03-31          2.5
2010-04-30          3.5
2010-05-31          4.5